<% if teacher_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_teacher_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Teacher Login', new_teacher_session_path)  %>
  </li>
<% end %>
