<div class="container text-center">
  <h2>Sign up here (For Teachers)</h2>
  <p> Please use your school email address. </p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Password (again)' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <br/>
    <div class="actions">
      <p>
        <%= f.submit "Sign up", :class=>'btn btn-success' %>
      </p>
    </div>
  <% end %>

  <p> Or </p>

  <%= render "devise/shared/links" %>
</div>
