= form_for @student do |f|
  div.form-group
    = f.label :student_number, 'Student Number / 學號' 
    - if ! @student.student_number or (@student.student_number and @student.student_number == 'null')
      = f.text_field :student_number, :class => 'form-control input-lg', :placeholder => 'Student Number / 學號', :autocomplete => 'student_number'
    - else
      = f.text_field :student_number, :class => 'form-control input-lg', :placeholder => 'Student Number / 學號', :autocomplete => 'student_number', readonly: true
  div.form-group
    = f.label :name, 'English Name / 英文名字'
    = f.text_field :name, :class => 'form-control input-lg', :placeholder => 'English Name', :readonly => true
  div.form-group
    = f.label :name, 'Chinese Name / 姓名'
    = f.text_field :alt_name, :class => 'form-control input-lg', :placeholder => 'Chinese Name', :readonly => true
  = f.hidden_field :course_id
  = f.hidden_field :id

