<div class="row"  id="<%=item_id%>">
  <h2><%=title%></h2>
  <img id="text-<%=item_id%>" class="reading-img center" src="<%=picture_url%>">
  <audio id="audio-<%=item_id%>" preload="auto" src="<%=audio_url%>" controls>
  </audio>
  <span class="finshed-mark">
      <span class="checked-span">✓</span>
      <span class="unchecked-span"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></span>
  </span>
</div>
<script>
  $(function(){
    setupAudioItem("<%=item_id%>", <%=milliseconds%>);
  });
</script>
