<div class="row" id="<%=item_id%>">
    <h2><%=title%></h2>
    <% if defined?(picture_url) == "local-variable"%>
      <img id="text-<%=item_id%>" class="reading-img center" src="<%=picture_url%>">
    <%end%>
    <audio id="audio-<%=item_id%>"  src="<%=audio_url%>" controls>
    </audio>
    <%if defined?(prompt_text) == "local-variable"%>
     <p class="prompt-text content-text"> <%= prompt_text %> </p>
    <%end%>
    <% questions.each_with_index do |question, i|%>
      <div class="radio">
        <label>
            <input type="radio" name="<%=item_id%>" id="<%=item_id%>-<%=i+1%>" value="<%=i+1%>">
            <span class="content-text"> <%=question%> </span> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </label>
      </div>
    <%end%>

    <span class="finshed-mark">
        <span class="checked-span">✓</span>
        <span class="unchecked-span"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
    </span>
</div>
<script>
  $(function(){
    setUpListeningMCQ("<%=item_id%>", "<%=answer%>", <%=milliseconds%>);
  });
</script>
