<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading"><%=title%></div>
        <div class="panel-body">
        <table class="table">
            <tr>
                <% choices.each do |word| %>
                <td> <%=word%> </td>
                <% end %>
            </tr>
        </table>
        </div>

      <form class="form-inline">
          <ul>
              <%prompts.each_with_index do |prompt, i|%>
                <li id="<%= item_id %>-<%=(i+1)%>">
                  <span class="finshed-mark">
                    <span class="checked-span">✓</span>
                    <span class="unchecked-span"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                  </span>
                  <%=prompt[:start]%> _____________ <%=prompt[:end]%>
                  <input type="text" class="form-control">
                </li>
                <script>
                  $(function(){
                    setUpClozeItem("<%= item_id %>-<%=(i+1)%>", "<%=prompt[:answer]%>");
                  });
                </script>
              <%end%>
          </ul>
      </form>
     </div>
 </div>
