<div class="row" id="<%=item_id%>">
  <h2><%=title%></h2>
  <% if defined?(picture_url) == "local-variable" %>
    <p>
      <img class="dictal-img" id="text-<%=item_id%>" src="<%=picture_url%>">
    </p>
  <%end%>
  <audio id="audio-<%=item_id%>" preload="auto" src="<%=audio_url%>" controls>
  </audio>
  <% if defined?(input_placeholder) == "local-variable" %>
    <input type="text" placeholder="<%=input_placeholder%>" class="form-control input-lg">
  <%else%>
    <input type="text" placeholder="聽寫 -- Copy the question you hear." class="form-control input-lg">
  <%end%>
  <span class="finshed-mark">
      <span class="checked-span">✓</span>
      <span class="unchecked-span"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
  </span>
</div>
<script>
  setupDictalItem("<%=item_id%>", "<%=answer.html_safe%>");
</script>
