<div class="row">
    <div class="panel panel-warning">
        <div class="panel-heading"><%=title%></div>
        <div class="panel-body">
            <form class="form-inline">
              <div class="list-group">
                <% prompts.each_with_index do |item, i|%>
                  <div class="list-group-item" id="<%=[item_id, '-', (i+1)].join()%>">
                      <span class="finshed-mark">
                        <span class="checked-span">✓</span>
                        <span class="unchecked-span"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                      </span>
                      <%=item[:start]%>_______________<%=item[:end]%>
                      <input type="text" class="form-control">
                      <table class="table">
                          <tr>
                            <%item[:choices].each do |choice|%>
                              <td><%=choice%></td>
                            <%end%>
                          </tr>
                      </table>
                  </div> <!--/list-group-item -->
                  <script>
                    $(function(){
                      setUpClozeItem("<%=[item_id, '-', (i+1)].join()%>", "<%=item[:answer]%>");
                    });
                  </script>
                <%end%>
              </div> <!--/list-group -->
            </form>
        </div> <!-- /panel-body -->
     </div> <!-- /panel -->
</div>  <!-- /row -->
