<div class="panel panel-default">
  <div class="panel-heading">
    Sign in / 登入
  </div>
  <div class="panel-body">
<%= form_tag("/signin-student", method: "post") do %>

  <div class="actions">
    <div class="form-group">
      <%= label :student, :student_number, 'Student Number / 學號 （必填）' %>
      <%= text_field :student, :student_number, :class => 'form-control input-lg', :placeholder => 'Student Number / 學號', :autocomplete => 'student_number'%>
    </div>
    <div class="form-group">
      <%= label :student, :name, 'English Name / 英文名字' %>
      <%= text_field :student, :name, :class => 'form-control input-lg', :placeholder => 'English Name / 英文名字', :autocomplete => 'given-name' %>
    </div>
    <div class="form-group">
      <%= label :student, :alt_name, 'Chinese Name / 姓名（必填）' %>
      <%= text_field :student, :alt_name, :class => 'form-control input-lg', :placeholder => 'Chinese Name / 姓名（必填)', :autocomplete => 'name' %>
    </div>
    <%= hidden_field_tag :lesson_id, @lesson.id %>
    <%= submit_tag 'Join / 登入', :class => 'btn btn-default btn-lg' %>
  </div>
<% end %>
  </div>
</div>
