
<!-- Main jumbotron for a primary marketing message or call to action -->
<script>
  window.fliptcc.lessonId = '<%=@lesson.id%>';
  window.fliptcc.itemIdents = <%=@lesson.chapter.item_idents.to_json.html_safe%>;
</script>
<div class="jumbotron">
  <div class="container">
    <h1><%=@title%></h1>
    <p>Please listen to the dialog and answer the questions below.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <%if @items%>
    <div>
      <% @items.each do |item| %>
        <%=render(item.content['item_type'], item.content.with_indifferent_access)%>
      <% end %>
    </div>
  <% end %>


  <hr>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
      0%
    </div>
  </div>
  <hr>
  <footer>
    <p>&copy; <%= @copyright %></p>
  </footer>
</div> <!-- /container -->



<script>
$(function(){
    $(".checked-span").hide();
    $(function(){fetchDone();})
    // setupAudioItem("U10-1-a", 45000);
    // setupAudioItem("U10-1-b", 41000);
    // setupDictalItem("U10-1-Q1-question", "What does Jean say David needs to do?");
    // setupDictalItem("U10-1-Q2-question", "What do Jean and David want to do this weekend?");
    // setupDictalItem("U10-1-Q3-question", "What does Jean say she is afraid of?");
    // setUpListeningMCQ("U10-1-Q1-MCQ", "B", 2000);
    // setUpListeningMCQ("U10-1-Q2-MCQ", "A", 2000);
    // setUpListeningMCQ("U10-1-Q3-MCQ", "B", 2000);
    // setUpClozeItem("U10-1-vocab-1-1", "stressed");
    // setUpClozeItem("U10-1-vocab-1-2", "rid");
    // setUpClozeItem("U10-1-vocab-1-3", "recently");
    // setUpClozeItem("U10-1-vocab-1-4", "suggest");
    // setUpClozeItem("U10-1-vocab-1-5", "article");
    // setUpClozeItem("U10-1-vocab-2-1", "Spending");
    // setUpClozeItem("U10-1-vocab-2-2", "for");
    // setUpClozeItem("U10-1-vocab-2-3", "of");
    // setUpClozeItem("U10-1-vocab-2-4", "What is wrong?");
    // setUpClozeItem("U10-1-vocab-2-5", "away");

});
</script>
