<table>
  <% @progresses.each_pair do |student_id, progress| %>
      <tr>
        <td>
          <%=@students[student_id].name%>
        </td>
        <td>
          <%=@students[student_id].alt_name%>
        </td>
        <td>
          <%=@students[student_id].student_number.downcase%>
        </td>
        <td>
          <%=((progress.length.to_f/@item_idents.length.to_f)*100).to_i%>
        </td>
      </tr>
  <%end%>
</table>
