
<% if @incoming_student || !@student || !@student.id || !@student.name || !@student.student_number%>
   <%= render 'student_form', student: @student %>
<%else%>
    <script>
    function createCookie(name,value,days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = name+"="+value+expires+"; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
      function eraseCookie(name) {
       createCookie(name,"",-1);
      }
      function reloadPage() {
        window.location.replace(window.location.pathname + window.location.search + window.location.hash);
      }
      function logout() {
        eraseCookie('student_number');
        reloadPage();
      }
    </script>
   <div class="alert alert-success"> Hello <%= @student.name %>  <button class="btn pull-right" onclick="logout()"> 登出 </button></div>
   <%= render 'worksheet' %>
<% end %>
