<meta http-equiv="refresh" content="30" />
<table class="table table-striped table-condensed">
  <th> <div class="view-progress-name-header"> Name </div> </th>
  <%# need to use @item_idents here because each item could potentially be a collection of items, eg CLOZE with wordbank%>
  <% count = 1%>
  <%@items.each_with_index do |item, i|%>
    <% item.pretty_item_type_names.each do |item_type_name|%>
      <th>
        <div class="view-progress-question-number text-center"><%=count%></div>
        <div class="view-progress-header-content"> <%=item.content["title"]%> (<%=item_type_name%>) </div>
      </th>
      <% count = count+1 %>
    <%end%>
  <%end%>

  <% @progresses.each_pair do |student_id, progress| %>
    <tr>
      <td>
        <%=@students[student_id].name unless !@students[student_id].name%>
        <%=@students[student_id].alt_name unless !@students[student_id].alt_name%>
        <%=@students[student_id].student_number unless !@students[student_id].student_number%>
      </td>
      <% @item_idents.each do |item_id| %>
      <td class="text-center">
        <%if progress && progress[item_id]%>
          <div class="finished-bar">
            <span class="">✓</span>
          </div>
          <%# <div class="progress"> %>
          <%#   <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> %>
          <%#   </div> %>
          <%# </div> %>
        <%else%>
          <div class="not-finished-bar">&nbsp;</div>
        <%end%>
      </td>
      <%end%>
    </tr>
  <%end%>
</table>
