.book-display {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.chapter-title {
  font-weight: bold;
}

a.lnk {
     cursor:pointer;
     color:blue;
     text-decoration:underline;
}
