<div class="container">
  <h1>Books</h1>

  <% @books.each do |book| %>
    <div class="media">
    <div class="media-left">
      <a href="/catalog/books/<%=book['ident']%>/chapters">
        <img class="media-object" src="<%=book['img_src']%>" alt="..." width="100">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="/catalog/books/<%=book['ident']%>/chapters">
          <%=book['title']%>
        </a>
      </h4>
        <%=book['blurb']%>
    </div>
  </div>
  <% end %>
</div>
