
<div class="container">
  <h1>Chapters for <%=@book['title']%></h1>
  <!-- Example row of columns -->
  <div class="row">
      <div class="panel panel-fliptcc">
          <div class="panel-heading">Chapters for <%=@book['title']%></div>
          <div class="panel-body">
            <div class="list-group">
              <%if @chapters%>
              <% @chapters.each do |chapter|%>
                <a class="list-group-item" href="/catalog/books/<%=@book['ident']%>/chapters/<%=chapter.id%>/lessons">
                    <%=chapter.title%>

                  <% if current_teacher %>
                    <% lessons_count = chapter.lessons_count(current_teacher) %>
                    <%if lessons_count > 0%>
                      <span class="badge">
                        <%= lessons_count %>
                      </span>
                    <% end %>
                  <% end %>
                </a>
              <% end %>
              <% end %>
            </div>
          </div>
      </div> <!-- /panel -->
      <a href='/catalog/books'>Back</a>
  </div> <!-- /row -->

  <hr>

  <footer>
    <p>&copy; Fooyin 2015</p>
  </footer>
</div> <!-- /container -->
