<div class="container">
  <h1>Lessons</h1>
  <!-- Example row of columns -->
  <div class="row">
      <div class="panel panel-fliptcc">
        <div class="panel-heading">
          <% if !current_teacher %> Sample <%end%>
           Lessons for <%=@chapter.title%> </div>
          <div class="panel-body">
            <div class="list-group">
              <%if @lessons%>
                <% @lessons.each do |lesson|%>
                  <%if !current_teacher %>
                    <div class="list-group-item" href="/work/<%=lesson.id%>">
                      <a class="badge" href="/work/<%=lesson.id%>/view-progress">
                        progress: <%= lesson.students_count%>
                      </a>
                      <a href="/work/<%=lesson.id%>">
                        <%=@chapter.title%> | <%=lesson.title%> 
                        <% if lesson.code %>
                           <%= lesson.code %>
                        <%end%>
                      </a>
                    </div>
                  <%end%>
                  <%if current_teacher %>
                    <a class="list-group-item" href="<%=url_for lesson%>">
                      <span class="badge">
                        <%= lesson.students_count%>
                      </span>
                        <%=@chapter.title%> | <%=lesson.title%> 
                        <% if lesson.code %>
                           <%= lesson.code %>
                        <%end%>
                    </a>
                  <%end%>

                <% end %>
              <% end %>
              <% if current_teacher %>
                <a class="list-group-item" href="/lessons/new?chapter_id=<%= @chapter.id %>">
                  Add lesson + 
                </a>
              <% end %>
            </div>
          </div>
      </div> <!-- /panel -->
      <a href='/catalog/books/<%=@book['ident']%>/chapters'>Back</a>
        <% if !current_teacher %>
          <span class="pull-right alert alert-danger"> You are not logged in, but you may view these sample lessons. <a class="btn btn-default" href="<%=new_teacher_session_path%>">Teacher Login</a> </span>
        <% end %>
  </div> <!-- /row -->

  <hr>

  <footer>
    <p>&copy; Fooyin 2015</p>
  </footer>
</div> <!-- /container -->
