.container
  = form_for(lesson) do |f|
    - if lesson.errors.any?
      div id="error_explanation"
        h2 = pluralize(lesson.errors.count, "error") << "prohibited this lesson from being saved:"

        ul
          - lesson.errors.full_messages.each do |message|
            li = message

    .actions
      / = f.label :code
      / = f.text_field :code
      h2 Step 1
      p Name your lesson. For example, name it for the class or date you plan on giving it.
      = f.label :title
      = f.text_field :title
      h2 Step 2
      p Choose which chapter the lesson consists of.
      p
        - if default_chapter_id
          = f.select :chapter_id, options_for_select(@chapters.map{|i| [i['book'] + ' ' + i['chapter'], i['id']]}.sort, default_chapter_id)
        -else
          = f.select :chapter_id, options_for_select(@chapters.map{|i| [i['book'] + ' ' + i['chapter'], i['id']]}.sort, lesson.chapter_id)
      br
      p
        = f.submit
