<div class="panel panel-warning">
  <div class="panel-heading">Audio Picture</div>
  <div class="panel-body">
<%= form_for :item do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :audio_url %>
  <%= f.text_field :audio_url %>
  <%= f.label :picture_url %>
  <%= f.text_field :picture_url %>
<%end%>
</div>
</div>
