
.container
  - if @chapter
    h1 
      | Lessons for "
      =@chapter.title
      | "
  - else
    h1 Your Lessons

  <table class="table">
    <thead>
      <tr>
        <th> Title </th>
        <th> Entry Code </th>
        <th> Chapter </th>
        <th colspan="3"> Actions </th>
      </tr>
    </thead>

    <tbody>
      - @lessons.each do |lesson|
        tr
          td = lesson.title
          td = lesson.code
          td = lesson.chapter.title
          td = link_to 'Show', lesson
          td = link_to 'Edit', edit_lesson_path(lesson)
          td = link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }
    </tbody>
  </table>

  <br>

  = link_to 'New Lesson', new_lesson_path
