
.container

  h1= @lesson.title
  br
  .container
    div 
    a href="/work/#{@lesson.id}" Student link:
    div class="welcome-example-url"
      ="https://fliptcc.herokuapp.com/work/#{@lesson.id}"

    .container.show-lesson-check-students-progress
      
        a.btn.btn-default href="/work/#{@lesson.id}/view-progress" 
          span Check student progress
          span &nbsp;
          span class="badge" =@lesson.students_count

        a.btn.btn-default href="/work/#{@lesson.id}/view-progress/?csv=true" 
          span Export Scores as CSV tabs
          span &nbsp;
          span class="badge" =@lesson.students_count

  = link_to 'Edit', edit_lesson_path(@lesson)
  span<> |
  = link_to 'Back', lessons_path
  hr
    = link_to 'Delete', @lesson, method: :delete, data: { confirm: 'Are you sure you want to delete this lesson? You cannot get it back after you delete.' }, :class=> 'btn btn-danger'
