<div class='container text-center'>
  <h2>Log in to Fliptcc</h2>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", :class => 'btn' %>
    </div>
  <% end %>
  <br>
  <p>
    or
  <p>
    <%= link_to "Sign up", new_registration_path(resource_name), :class => 'btn btn-success' %><br />
  </p>
  <br>
  <p>
    <%= render "devise/shared/links" %>
  </p>
</div>
