// Place all the styles related to the catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel.panel-fliptcc > .panel-heading {
    background-image: none;
    background-color: goldenrod;
    border-color: goldenrod;
    color: white;

}
.panel.panel-fliptcc {
    border-color: lighten(goldenrod, 40%);
}
