.navbar-container-fliptcc {
  background-color: goldenrod;
}
.navbar.navbar-fliptcc {
  background-color: goldenrod;
  margin-bottom: 0;
  border-radius: 0px;
  border-bottom: 1px solid black;
}

.navbar.navbar-fliptcc .navbar-brand{
  color: CornflowerBlue;
}
