// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
  @include gradient-vertical(goldenrod, white);
}
.jumbotron  h1 {
  border-bottom: 1px solid;
}

.welcome-green-check{
  color: green;
  font-size: x-large;
}

.welcome-example-url {
  padding: 2em;
  border: 1px dashed;
  width: 30em;
  font-size: large;
}

.welcome-img-container-outer {
  display: inline-block;
  padding: 2em;
  border-right: 1px solid #e0e0e0;
}
.welcome-img-container-outer:last-child {
   border: 0;
}

.welcome-img-container {
  padding: 2em;
  border: 1px solid;
  border-radius: 50px 50px 50px 50px;
  background: black;
  width: 360px;
}

.welcome-double-img-container div{
  display: inline-block;
}

.welcome-img-container.welcome-evaluation-img-container {
  width: 460px;
}
.welcome-img-container.welcome-evaluation-img-container img {
  width: 400px;
}
.welcome-img-container img {
  width: 300px;
}

.welcome-content h1 {
  @include gradient-vertical(goldenrod, white);
}
.welcome-content h2 {
  @include gradient-vertical(violet, white);
}

.welcome-content p {
  width: 50%;
  font-size: large;
  padding: 1em;
}
