// Place all the styles related to the work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reading-img {
    width: 90%
}

.checked-span {
    color: green;
    font-size: xx-large;
}

.unchecked-span {
    color: red;
    font-size: xx-large;
}

.wrong.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


input[type=radio]:disabled + span {
    color: grey;
}

input[type=radio]:disabled.wrong ~ span.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    visibility: visible;
}

input[type=radio].wrong + span {
    color: red;
    text-decoration: line-through;
}

input[type=radio].right + span {
    color: green;
}


.glyphicon-refresh-animate {
    visibility: hidden;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


div.finished-bar {
  background-color: #63a34b; // green;
  border: 1px solid #63a34b; //green;
  border-radius: 5px 5px 5px 5px;
}
.finished-bar > span {
  color: white;
}
div.not-finished-bar {
  background-color: white;
  border: 1px solid red;
  border-radius: 5px 5px 5px 5px;
}

.view-progress-question-number {
  border-bottom: 1px solid #d5d5d5; //grey;
}
.view-progress-header-content{
}
.view-progress-name-header {
  border-bottom: 1px solid #d5d5d5; //grey;
}

.content-text {
  font-size: x-large;
}

.dictal-img {
  width: 95%
}
