doctype html
html
  head
    title Fliptcc
    meta name="viewport" content="width=device-width, initial-scale=1"
    = csrf_meta_tags
    action_cable_meta_tag

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  body
    .navbar-container-flipptcc
      .navbar.navbar-fliptcc
        .container-fluid
          .navbar-header
            .navbar-brand 
              a href="/" Fliptcc
          .nav.navbar-nav.navbar-right
            - if teacher_signed_in?
              li
                a href="/catalog/books" My Books
            == render 'devise/menu/teacher_login_items'
    - unless !notice
      p class="notice alert alert-warning" = notice
    - unless !alert
      p class="alert alert-danger" = alert
    == yield
