doctype html
html
  head
    title = Fliptcc
    meta name="viewport" content="width=device-width, initial-scale=1"
    == csrf_meta_tags
    == action_cable_meta_tag

    == stylesheet_link_tag    'application'
    == javascript_include_tag 'application'

  body



    .container.devise-content
      h1
         a href="/" Fliptcc
      - unless !notice
        p class="notice alert alert-warning" = notice
      - unless !alert
        p class="alert alert-danger" = alert
      == yield

